{% extends "base.html" %}

{% block title %}Chat{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<h1>Messages</h1>
	</div>
	<div class="row">
	  <div class="col-4" id="left">
		<div class="border-right">
		  <div class="row">
			<div class="col-12">
			  <form class="form-inline my-2 my-lg-0">
				<input
				  class="form-control mr-sm-2"
				  type="search"
				  placeholder="Search Username"
				  aria-label="Search"
				/>
			  </form>
			</div>
		  </div>
		</div>
		<div class="row">
		  <div class="chat-list">
			<img
			  src="https://upload.wikimedia.org/wikipedia/commons/2/2d/JJH_Headshot.jpg"
			  id="profile-pic"
			/>
			<div class="profile-text">
			  <h6 class="profile-name">Emmanuel Sekyi</h6>
			  <p class="new-message text-muted">You are done</p>
			</div>
			<span class="text-muted small">13:45</span>
		  </div>
		</div>
	  </div>
	  <div class="col-8" id="right">
		<div class="row">
		  <div class="chat-session">
			<img
			  src="https://upload.wikimedia.org/wikipedia/commons/2/2d/JJH_Headshot.jpg"
			  id="profile-pic"
			/>
			<div class="profile-text">
			  <h6 class="profile-name">Emmanuel Sekyi</h6>
			</div>
		  </div>
		</div>
		<div class="chat-panel">
		  <div class="row">
			<div class="col-md-3">
			  <div class="chat-bubble chat-bubble--left">Hello dude!</div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-md-3 offset-md-9">
			  <div class="chat-bubble chat-bubble--right">Hi Mate!</div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-12">
			  <div class="chat-tray">
				<textarea
				  type="search"
				  placeholder="reply"
				  aria-label="Search"
				  class="form-control form-control-lg"
				></textarea>
				<i class="material-icons">Reply</i>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>

  </div>
{% endblock content %}
